.box {
  padding: 3rem;
  width: 70%;
  margin: auto;
}

.title {
  color: #fa8072;
  font-size: 5rem;
}

.text {
  font-size: 1.6rem;
}

@media (max-width: 600px) {
  .box {
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
  
  .title {
    color: salmon;
    font-size: 3rem;
  }
}