@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Caveat Brush', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
